.tooltip{
  background: #FFFFFF!important;
  border: 1px solid rgba(211, 213, 218, 0.6)!important;
  box-shadow: 0 10px 30px rgba(11, 58, 98, 0.2)!important;
  border-radius: 10px!important;
  opacity: 1!important;
  padding: 24px!important;
  max-width: 300px!important;
}