.readText {
    width: 100%;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.taskNumber {
    display: block;
    min-width: 28px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.taskText {
    max-width: 779px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.questionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.questionWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.question {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;
}