@import '@mixins';

.listenAndChoose {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    @include xl {
        gap: 72px;
    }
    @include lg {
        gap: 64px;
    }
    @include md {
        gap: 56px;
    }
    @include sm {
        gap: 48px;
    }
    @include xs {
        gap: 40px;
    }
}

.task {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include md {
        gap: 20px;
    }
    @include sm {
        gap: 16px;
    }
    @include xs {
        gap: 12px;
    }
}

.taskNumber {
    display: block;
    min-width: 28px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include sm {
        min-width: 24px;
        margin-right: 4px;
        font-size: 20px;
    }
    @include xs {
        min-width: 20px;
        margin-right: 3px;
        font-size: 18px;
    }
}

.questionWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include md {
        gap: 20px;
    }
    @include sm {
        gap: 16px;
    }
}

.question {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include md {
        font-size: 22px;
    }
    @include sm {
        font-size: 18px;
    }
    @include xs {
        margin-bottom: 4px;
        font-size: 16px;
    }
}

.questionFiguresWrapper {
    display: flex;
    flex-direction: column;
    gap: 41px;

    @include lg {
        gap: 32px;
    }
    @include md {
        gap: 24px;
    }
    @include sm {
        gap: 20px;
    }
    @include xs {
        gap: 16px;
    }
}