@import '@mixins';

.inputWrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 4px;
    bottom: 4px;
    left: 4px;
    height: 1px;
    background-color: #0B1F35;

    @include sm {
      right: 3px;
      bottom: 3px;
      left: 3px;
    }
  }
}

.input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #E2E5EB;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #0B1F35;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  @include md {
    font-size: 18px;
  }
  @include sm {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
  @include xs {
    font-size: 14px;
  }

  &.disabled{
    cursor: not-allowed;
  }
}