@import '@mixins';

.mainPage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    background: linear-gradient(126.68deg, #1496DE 28.65%, #E241CC 108.53%);

    @include lg {
        padding-top: 80px;
    }
    @include sm {
        padding-top: 40px;
    }
    @include xs {
        padding-top: 32px;
    }

    &Test {
        padding-top: 36px;
        padding-bottom: 110px;
        background: url('_assets/img/background.png'), linear-gradient(126.68deg, #1496DE 28.65%, #E241CC 108.53%);
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            padding-bottom: 72px;
        }
        @include md {
            padding-bottom: 48px;
        }
        @include sm {
            padding-bottom: 40px;
        }
        @include xs {
            padding-bottom: 32px;
        }
    }

    &Finished {
        padding: 64px 0;

        @include lg {
            padding: 32px 0;
        }
    }
}

.mainWrapper {
    max-width: 1124px;

    @include lg {
        max-width: 1000px;
    }
    @include md {
        max-width: 760px;
    }
    @include sm {
        max-width: 390px;
    }
    @include xs {
        min-width: 96%;
        max-width: 96%;
    }
}