@import '@mixins';

.chooseOne {
    width: 100%;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include md {
        gap: 20px;
    }
    @include sm {
        gap: 16px;
    }
    @include xs {
        gap: 12px;
    }
}

.taskNumber {
    display: block;
    min-width: 28px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include sm {
        min-width: 24px;
        margin-right: 4px;
        font-size: 20px;
    }
    @include xs {
        min-width: 20px;
        margin-right: 3px;
        font-size: 18px;
    }
}

.questionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include lg {
        gap: 56px;
    }
    @include md {
        gap: 48px;
    }
    @include sm {
        gap: 32px;
    }
    @include xs {
        gap: 24px;
    }
}

.questionWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include lg {
        gap: 24px;
    }
    @include sm {
        gap: 20px;
    }
    @include xs {
        gap: 16px;
    }
}

.question {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
    @include xs {
        font-size: 18px;
    }
}

.emptyQuestion {
    display: inline;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
    @include xs {
        font-size: 18px;
    }
}

.emptyBlock {
    position: relative;
    bottom: -8px;
    display: inline-block;
    width: 128px;
    height: 32px;
    border: 1px solid #E2E5EB;
    border-radius: 5px;

    &::after {
        content: '';
        position: absolute;
        right: 4px;
        bottom: 4px;
        left: 4px;
        height: 1px;
        background-color: #0B1F35;
    }
}