@import '@mixins';

.testWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 1124px;
    height: 100%;
    border-radius: 20px;

    @include lg {
        width: 1000px;
    }
    @include md {
        width: 760px;
    }
    @include sm {
        width: 390px;
    }
    @include xs {
        gap: 12px;
        width: 100%;
    }
}

.questionWrapper {
    display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 38px;
    width: 100%;
    padding: 36px 55px;
    border-radius: 20px;
    background-color: #FFFFFF;

    @include lg {
        gap: 16px;
        padding: 20px 40px;
    }
    @include sm {
        grid-template-columns: 1fr 24px;
        gap: 12px;
        padding: 16px 32px;
        border-radius: 16px;
    }
    @include xs {
        grid-template-columns: 1fr 22px;
        gap: 8px;
        padding: 8px 16px;
    }
}

.question {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include lg {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
    @include xs {
        font-size: 18px;
    }
}

.lang {
    width: 100%;
    height: auto;
}

.doneTasks {
    grid-column: 1 / span 2;
    justify-self: flex-end;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;

    @include sm {
        font-size: 18px;
    }
    @include xs {
        font-size: 16px;
    }
}

.task {
    width: 100%;
    max-height: 696px;
    border-radius: 20px;
    padding: 36px 40px 0;
    background-color: #FFFFFF;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @include lg {
        padding: 24px 40px 0;
    }
    @include sm {
        border-radius: 16px;
        padding: 20px 32px 0;
    }
    @include xs {
        padding: 12px 16px 0;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}