@import '@mixins';

.finishScreen {
    width: 100%;
    max-height: 100%;
    padding: 80px 90px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(14, 47, 65, 0.2);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @include xl {
        padding: 70px 80px;
    }
    @include lg {
        padding: 40px 60px;
    }
    @include sm {
        padding: 20px 24px;
    }
    @include xs {
        padding: 16px 20px;
    }
}

.newUserContent {
    display: flex;
    gap: 39px;

    @include md {
        gap: 32px;
    }
    @include sm {
        flex-direction: column;
        align-items: center;
    }
}

.greetingImg {
    width: auto;
    height: 438px;

    @include lg {
        height: 400px;
    }
    @include md {
        height: 300px;
    }
    @include sm {
        width: 160px;
        height: auto;
    }
    @include xs {
        width: 140px;
    }
}

.infoNew {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.title {
    width: 100%;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;

    @include lg {
        margin-bottom: 12px;
        font-size: 32px;
    }
    @include md {
        margin-bottom: 8px;
        font-size: 28px;
    }
    @include sm {
        font-size: 24px;
    }
    @include xs {
        font-size: 22px;
    }
}

.text {
    width: 100%;
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;

    @include lg {
        margin-bottom: 24px;
        font-size: 18px;
    }
    @include md {
        margin-bottom: 16px;
    }
    @include sm {
        margin-bottom: 8px;
        font-size: 16px;
    }
    @include xs {
        font-size: 14px;
    }
}
